@import 'mixin';
@import 'grid';
@import 'variable';

//變數
$bg-color:rgb(239,233,231);
$fn-color:rgb(61,17,1);

.content-product{
    display: flex;
    padding: 40px;

    @include pad(){
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    
}
.sidebar{
    margin-right: 5%;
    width: 20%;
    @include pad(){
        width: 95%;
        margin: 5% 2.5%;
    }

    h3{
        font-size: 20px;
        margin-bottom: 20px;
        @include pad(){
            text-align: center;

        }

        i{
            margin-right: 10px;
        }
    }
}

.side-list{
    @include pad(){
        text-align: center;
    }
     li{
        width: 100%;
        border-bottom: 1px solid $bg-color;
       a{
           color: $fn-color;
           padding: 10px 0;
           transition: all .3s;
           text-indent: 5px;
           &:hover{
               background-color: $fn-color;
               color: #fff;
           }
       }      
     } 
}
.rightbar{
    width: 75%;
}

.cart-topmenu{
    display: flex;
    @include iphone8(){
        flex-wrap: wrap;
    }
}

.search-side{
    position: relative;
    width: 70%;
    @include iphone8(){
        width: 100%;
        margin-bottom: 4%;
    }

    input{
        width: 100%;
        padding: 0 40px 0 0;
        border: 2px solid $fn-color;
    }
    button{
        position: absolute;
        right: 0;
        width: 32px;
        height: 32px;
        border: 2px solid $fn-color;
        &:hover{
            color: #fff;
            background-color: $fn-color;
            transition: all .3s;
        }
    }
}

.shop-count{
    display: flex;
    margin-left: 15%;
    width: 20%;

    @include iphone8(){
        width: 100%;
        margin-bottom: 4%;
        align-items: center;
        justify-content: center;
    }

    a{
        color: $fn-color;
        margin: 0 8px;
        &:first-child:hover{
            color: #a9583a;
        }
        &:last-child{
            position: relative;
            &::before{
                content: "";
                display: block;
                width: 1px;
                height: 30px;
                position: absolute;
                top: calc(50% - 7px);
                left: -10px;
                background: $fn-color;
            }
            span{
                position: absolute;
                width: 16px;
                top: -6px;
                right: -9px;
                background: #FF5E45;
                text-align: center;
                color: #ffffff;
                border: 1px solid #EFE9E7; 
                border-radius: 50%;
                font-size: 7px; 
            }
        }
    }

}
.cart{
    margin-bottom: -20px;
}

.cart-list{
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;

    .cart-item{
        text-align: center;
        width: 33.33333%;
        margin: 3% 1.5% 1.5% 0%;
        background: #EFE9E7;
        box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
        position: relative;
        z-index: 9;
        @include pad(){
            width: 48%;
            margin: 2% 1%;
        }
        @include iphone8(){
            width: 98%;
            margin: 4% 1%;
        }

        &:first-child::before{
            content: "";
            display: block;
            width: 110px;
            position: absolute;
            top: 18px;
            right: -25px;
            transform: rotate(-315deg);
            z-index: 1;
            border-width: 0 24px 24px;
            border-style: solid;
            border-color: transparent transparent #00CC99;
        }

        &:hover{
            transition: all .3s;
            box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.30);
        }
        img{
            height: 120px;
        }

        h3{
            font-size: 20px;
        }

        h4{
            font-size: 12px;
            position: relative;
            margin-bottom: 20px;

            &::after{
                content: "";
                width: 45%;
                height: 1px;
                position: absolute;
                border-bottom: 1px solid $fn-color;
                background-color: $fn-color;
                top: 130%;
                right: 27%;
            }
        }
        button{
            text-align: center;
            border: 2px solid #FF5E45;
            color: #FF5E45;
            border-radius: 3px;
            width: 95%;
            padding: 8px 30px;
            margin-bottom: 10px;

            i{
                font-size: 13px;
                margin-right: 10px;
                padding: 2px;
            }

            &:hover{
                transition: all .2s;
                color: #FFFFFF;
                background-color: #ff5e45;
            }
            &:active{
                color: #FFFFFF;
                background-color: #ff5e45;
                border: 2px solid #ff5e45;
            }
        }
        .fa-heart{
            position: absolute;
            font-size: 16px;
            color: #FFFFFF;
            top: 2%;
            left: 2%;
        }
        p{
            &:first-child{
                position: absolute;
                top: 0px;
                right: -8px;
                transform: rotate(-315deg);
                transform-origin: left center;
                font-size: 14px;
                color: #FFFFFF;
                z-index: 2;
                font-weight: bold;
            }
        }
    }
}