
$bg-color:rgb(239,233,231);
$fn-color:rgb(61,17,1);

@import 'mixin';
@import 'variable';
@import 'grid';
.content-login{
    background-color: $bg-color;
}
.login{
    background-color: $bg-color;
    color: $fn-color;
    padding: 20px;
    >h2{
        font-size: 48px;
        text-align: center;
        line-height: 1.6;
        margin-bottom: 30px;
    }
    >h3{
        font-size: 20px;
        text-align: center;
        line-height: 1.6;
        margin-bottom: 30px;
    }
    form{
        background-color: $bg-color;
        box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
        font-size: 16px;
        margin-bottom: 30px;
        max-width: 300px;
        margin: 0 auto;
        text-align: left;
        border-top: 4px solid #FF5E45;
        transition: all .3s;
    }
    .login-form{
        h3{
                text-align: center;
                font-size: 18px;
                margin-bottom: 20px;
        }
        &:hover{
            box-shadow: 3px 3px 4px 3px rgba(0,0,0,0.18);
        }
        .btn-login{
           @include iphoneX(){
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;

            >button{
                margin-bottom: 2%;
                width: 98%;
                margin-right: 1%;
                margin-left: 1%;

            }
        }
    }
    .login-group{
        display: flex;
        i{
            color: rgba(61,17,0,0.50);
            font-size: 20px;
            position: relative;
            line-height: 30px;
            right: 90%;
        }
    }
    input{
        width: 270px;
        margin-bottom: 15px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        box-shadow: inset 0px 1px 0px 0px #ECECEC;
        border-radius: 3px;
        height: 32px;
        text-indent: 28px;

        @include iphoneX(){
            width: 98%;
            margin: 0 1%;
        }
    }
    .forget-password{
        margin-top: -10px;
        color: #FF5E45;
        margin-bottom: 30px;
        @include iphoneX(){
            margin-top: 2%;
        }
    }
}

.submit-register{
    background: rgba(0,0,0,0.35);
    border-radius: 3px;
    width: 45%;
    height: 32px;
    border: 1px solid rgba(0,0,0,0.35);
    margin-right: 5px;
    transition: all .3s;
    @include iphone8(){
        width: 98%;
        margin-bottom: 5%;
    }

    &:hover,&:focus{
        background-color: rgb(106, 100, 100);
        border: 1px solid rgb(106, 100, 100);
    }
    a{
        color: #FFFFFF;
    }
 
}
.submit-signup{
    background: #F56C23;
    border-radius: 3px;
    width: 45%;
    height: 32px;
    border: 1px solid #F56C23;
    margin-right: 5px;
    color: #fff;
    transition: all .3s;

    @include iphone8(){
        width: 98%;
        margin-bottom: 5%;
    }

    &:hover,&:focus{
        background-color: #854624;
        border: 1px solid #854624;
    }
    a{
        color: #FFFFFF;
    }

}
}