@import "reset";
@import "layout";
@import "index-content";
@import "login-content";
@import "register-content";
@import "cart.content";


.animated{
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s;
}

.fadeIn{
    opacity: 1;
    transform: translateY(0);
}